button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.panel-wrapper {
    max-width: max-content;
    margin: auto;
    display: flex;
    height: 400px;
}

.controls-title-wrapper {
    padding: 10px;
}

.controls-title {
    text-align: center;
}
.constrols-wrapper,
.attendees-wrapper {
    display: flex;
    flex-direction: column;
}
.controls-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    margin: auto;
    background-color: #4b49ac;
    height: 100%;
    width: 100%;
}
.attendees-container {
    display: flex;
    justify-content: start;
    padding: 30px;
    background-color: #4b49ac;
    height: 100%;
    width: 100%;
    flex-direction: column;
}
.attendees-count {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.count-title {
    color: #fff;
}
.count-element {
    color: #fff;
    font-weight: bold;
}
.container-title {
    color: #fff;
}

.trigger-title {
    color: #fff;
}
.show-cta, .show-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.show-cta-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.show-timer-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: unset;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #64baff;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}