html {
  overflow: hidden;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000 !important;
  padding: 0px 10px;
}

.meeting-header {
  color: #ffffff;
  font-size: small;
}

#hiddenButton {
  display: none;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.sidebar-wrapper {
  height: 100%;
  margin-left: 5px;
}

.meeting-sidebar {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
  padding: 10px;
  background: #242424;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.init-hidden {
  display: none !important;
}

.meeting-container {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  align-items: start;
}

.zmwebsdk-makeStyles-singleView-7 .zoommtg-drag-video {
  cursor: unset;
  justify-content: end;
}
.zmwebsdk-makeStyles-singleView-7 .zoommtg-drag-video>div:nth-child(1) {
  display: none;
}

#zoomMeetingContainer {
  display: block !important;
  margin-bottom: 5px;
}

#zoomMeetingContainer>div {
  width: 100%;
  transform: unset !important;
}
#zoomMeetingContainer>div:nth-child(1) {
  position: relative;
}

#menu-list-icon-more>li:not(li:nth-child(2)),
#menu-list-icon-more>hr {
  display: none;
}
.react-resizable-handle {
  display: none;
}
.zmwebsdk-MuiPaper-root>div:not(.cta-wrapper, div:has(button)) {
  width: 100% !important;
}

.zoom-wrapper {
  position: relative;
}

.reactions-container {
  position: absolute;
  right: 30px;
  transform: translateY(-100%);
  top: 0px;
  display: none;
  cursor: pointer;
}

.rise-hand-item {
  transition: all 0.1s;
}
.reactions-container:hover .rise-hand-item {
  transform: scale(1.2);
}
.reactions-container:hover .rise-hand-label {
  opacity: 1;
  visibility: visible;
  top: -10px;
}
.reactions-container:hover .lower-hand-label {
  bottom: -20px;
}
.hand-label {
  background: #00000085;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
}

.rise-hand-label {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, -100%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

.lower-hand-label {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 50%;
  transform: translate(-50%, 50%);
  width: max-content;
  transition: all 0.1s;
}

.cta-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.cta-btn-wrapper {
  background-color: #00000059;
  padding: 20px;
  text-align: center;
}

.cta-main {
  margin: 0px;
  font-size: large;
  color: white;
}

.cta-timer {
  font-size: large;
  display: none;
}

.cta-btn {
  width: 100%;
  margin: 5px 0;
}

#suspension-view-tabpanel-active-active>div>div:last-child:not(#suspension-view-tabpanel-active-active>div>div:nth-child(3)) {
  width: 100%;
}

#suspension-view-tabpanel-active-active>div {
  height: 100%;
  aspect-ratio: 2;
}
[role="tabpanel"]:nth-child(3) .react-draggable {
  width: 100% !important;
  height: 100% !important;
  transform: unset !important;
  cursor: auto;
}
.react-draggable.react-draggable-dragged {
  transform: unset !important;
}
/* Hide View button when host is sharing screen */
#zoomMeetingContainer:has(#suspension-view-tabpanel-ribbon-multiple > div > div > div:nth-child(2)) button[title="View"] {
  display: none;
}

/* Expands active video area */
#suspension-view-tabpanel-active-multiple > div > div:nth-child(2) {
  width: 100% !important;
}

/* Not started and Waiting room Section full width */
#zoomMeetingContainer > div > div > div > div > div {
    width: 100% !important;
}

/*
.css-smopl6 {
  width: 100% !important;
}
.css-1txzflg {
  width: 100% !important;
}*/

/* Hides Share Screen menu */
#suspension-view-tabpanel-ribbon-multiple > div > div > div:nth-child(2) { /* Share Screen menu */
  display: none !important;
}
[role="dialog"] {
  position: relative !important;
  transform: unset !important;
  min-width: max-content !important;
}

[role="dialog"][aria-label="Chat"] {
  margin-top: 5px;
}

[role="dialog"][aria-label="Chat"]>div {
  min-width: auto;
}

[role="dialog"][aria-label="Chat"] textarea {
  line-height: 100%;
  font-size: 16px;
}

[role="dialog"][aria-label="Chat"]>div>div>div:nth-child(2) {
  height: min(35vh);
}

[role="dialog"][aria-label="Chat"] div[aria-label="header"] {
  display: none;
}
[role="dialog"][aria-label="Chat"] li span {
  font-size: 1.3rem;
}
[role="dialog"][aria-label="Reactions"]>div {
  transform: unset;
}

[role="dialog"][aria-label="Reactions"] {
  transform: unset !important;
  bottom: 20px !important;
  top: unset !important;
  left: unset !important;
  right: 20px;
  position: fixed !important;
  z-index: 999;
  display: none !important;
}

[role="dialog"][aria-label="Chat"] > div > div > div > div > div > div:has(input[type="file"]) {
  display: none;
}
[role="region"] > div,
canvas[aria-label="Screen share"] { width: 100%;}
[role="dialog"][aria-label="Chat"] .react-draggable > div {
  min-width: max-content !important;
}

#zoomMeetingContainer>div>div>div {
  position: relative;
  width: 100%;
}


button[title="Settings"],
button[title="Chat"],
button[title="Participants"],
button[title="Share Screen"],
button[title="Share Screen"] ~ div:not(div:has([title="More"])),
button[title="Show captions"],
button[title="Caption settings"],
button[title="More"],
button[title="Reactions"],
button[title="Meeting Information"],
button[title="Meeting Information"] + button,
#zoomMeetingContainer>div>div>div:nth-child(2)>:last-child {
  display: none;
}

.timer-wrapper {
  background: #000;
  border-radius: 3px;
  padding: 10px;
}
.timer-count {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}
h1.timer-main {
  font-size: 20px;
  color: white;
  text-align: center;
  margin: 0;
}

/* Panel de Control */
.controls-container {
  display: flex;
}



/* Media Queries */
@media screen and (max-width: 1240px) {
  .meeting-container {
    grid-template-columns: 1fr;
  }

  .sidebar-wrapper {
    margin-left: 0px;
  }
  .meeting-sidebar {
    margin-bottom: 5px;
  }
  #suspension-view-tabpanel-active-active>div {
    height: 330px;
    aspect-ratio: 2;
  }
  
  .reactions-container:hover .rise-hand-item {
    transform: unset;
  }
  .reactions-container {
    right: 10px;
    transform: translateY(-50%);
  }
  .rise-hand-item {
    width: 34px;
  }
  
  .lower-hand-label, .rise-hand-label {
    bottom: 0px !important;
    top: unset !important;
    left: 0%;
    transform: translate(-100%, -50%);
    font-size: 8px;
    visibility: visible !important;
    opacity: 1 !important;
  }

  /* Tabpanel (share screen) */
  #zoomMeetingContainer:has(#suspension-view-tabpanel-ribbon-multiple > div > div > div:nth-child(2)) [role="tabpanel"]:nth-child(3) > div {
    height: 100%;
    flex-direction: column;
  }

  /* Tabpanel for participant videos (share screen) */
  #zoomMeetingContainer:has(#suspension-view-tabpanel-ribbon-multiple > div > div > div:nth-child(2)) [role="tabpanel"]:nth-child(3) > div > div:nth-child(3) {
    height: max(300px);
    width: 100% !important;
  }

  /* Tabpanel divider (share screen) */
  #zoomMeetingContainer:has(#suspension-view-tabpanel-ribbon-multiple > div > div > div:nth-child(2)) [role="tabpanel"]:nth-child(3) > div > div:nth-child(2) {
    display: none !important;
  }
}

@media screen and (max-width: 680px) {
  .cta-wrapper {
    position: unset;
  }

  #suspension-view-tabpanel-active-active>div {
    height: 47vw;
  }

  [role="dialog"][aria-label="Reactions"] {
    transform: unset !important;
    bottom: unset !important;
    top: unset !important;
    left: unset !important;
    right: unset;
    position: relative !important;
    margin-top: 10px;
    z-index: 999;
  }
  /*
  [role="tabpanel"]:nth-child(3) > div {
    height: 47vw !important;
  }*/

}