html {
  overflow: hidden;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000 !important;
  padding: 0px 10px;
}

.meeting-header {
  color: #ffffff;
  font-size: small;
}
#hiddenButton {
  display: none;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.sidebar-wrapper {
  height: 100%;
  margin-left: 5px;
}
.meeting-sidebar {
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 8px 24px;
  padding: 10px;
  background: #242424;
  height: 100%;
  width: 100%;
}
.init-hidden {
  display: none !important;
}
.meeting-container {
  display: grid;
  grid-template-columns: 80% 20%;
  justify-content: center;
  align-items: start;
}
.zmwebsdk-makeStyles-singleView-7 .zoommtg-drag-video {
  display: none;
}

#zoomMeetingContainer {
  display: block !important;
  margin-bottom: 5px;
}

#zoomMeetingContainer>div {
  width: 100%;
}
#menu-list-icon-more>li:not(li:nth-child(2)), #menu-list-icon-more>hr {
  display: none;
}
.zmwebsdk-MuiPaper-root>div:not(.cta-wrapper, div:has(button)) {
  width: 100% !important;
}
.cta-wrapper {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.cta-btn-wrapper {
  background-color: #00000059;
  padding: 20px;
  text-align: center;
}
.cta-main {
  margin: 0px;
  font-size: large;
  color: white;
}
.cta-timer {
  font-size: large;
  display: none;
}
.cta-btn {
  width: 100%;
  margin: 5px 0;
}
#suspension-view-tabpanel-active-active>div div:nth-child(2) {
  width: 100%;
}
#suspension-view-tabpanel-active-active>div {
  height: 100%;
  aspect-ratio: 2;
}

[role="dialog"] {
  position: relative !important;
  transform: unset !important;
}
[role="dialog"][aria-label="Chat"] {
  margin-top: 5px;
}
[role="dialog"][aria-label="Chat"]>div>div>div:nth-child(2){
  height: min(50vh - 178px , 484px);
}
[role="dialog"][aria-label="Chat"] div[aria-label="header"] {
  display: none;
}
[role="dialog"][aria-label="Reactions"]>div {
  transform: unset;
}
[role="dialog"][aria-label="Reactions"] {
  transform: unset !important;
  bottom: 20px !important;
  top: unset !important;
  left: unset !important;
  right: 20px;
  position: fixed !important;
  z-index: 999;
}
#zoomMeetingContainer>div>div>div {
  position: relative;
  width: 100%;
}
button[title="Participants"], button[title="Share Screen"], #zoomMeetingContainer>div>div>div:nth-child(2)>:last-child {
  display: none;
}
@media screen and (max-width: 1240px) {
  .meeting-container {
    grid-template-columns: 1fr;
  }
  .sidebar-wrapper {
    margin-left: 0px;
  }
  #suspension-view-tabpanel-active-active>div {
    height: 330px;
    aspect-ratio: 2;
  }
}

@media screen and (max-width: 680px) {
  .cta-wrapper {
    position: unset;
  }
  #suspension-view-tabpanel-active-active>div {
    height: 150px;
  }
}
